.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #AF59F2 0%, rgba(255, 255, 255, 0) 100%), #310198;

  display: flex;
  justify-content: center;
}

.main .content {
  background: rgba(235, 231, 231, 0.925);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  position: relative;
  top: 64px;

  width: 900px;
  height: 600px;
}

.form{
  padding: 0 16px;

  display: flex;
  max-width: 364px;
  flex-direction: column;
  
  position: absolute;
  top: 0;
}
