.input-box{
  position: relative;
  padding: 12px 16px;
}

.input-box span {
  color: #000000;
  font-size: 14px;
}

.input-box input {
  padding: 5px;
  height: 40px;
  width: 300px;

  border-radius: 10px;

  border: none;

  font-size: 14px;
}

.input-box input:focus {
  outline: none;
  border: 2px solid #cba9ec;
}

.input-label {
  position: relative;
}

.input{
  position: relative;
  display: flex;
  flex-direction: row;
}