.landing-page{
  width: 100vw;
  height: 100vh;

  background-color: #ebe6e6;

  display: flex;
  flex-direction: row;
}

.left-content {
  background: linear-gradient(180deg, #9225FF 0%, rgba(210, 164, 255, 0.416667) 58.33%, rgba(255, 255, 255, 0) 100%), #310198;

  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.l-content-wrapper {
  display: flex;
  flex-direction: column;
}

.line-note{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.line-note-last {
  display: flex;
  flex-direction: row;
}

.detail{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;

  color: #0F1419;
}

.right-content {

  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.r-content-wrapper{
  display: flex;
  flex-direction: column;
  max-width: 380px;
}

.r-content-wrapper img{
  width: 80px;
  height: 70px;
}

.description-main{
  color: #0F1419;
  font-size: 24px;

  margin: 20px 0 0;
}

.description-sub{
  color: #0F1419;
  font-size: 15px;
  margin: 64px 0 16px;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons a{
  margin: 0 0 16px;
  padding: 0px 32px;

  border-radius: 20px;

  cursor: pointer;

  text-decoration: none;
}

.sign-up{
  width: 100%;
  color: #fff;
  background-color: #42078E;

  transition: background-color 0.2s;
}

.sign-up:hover{
  background: #6a25c4;
}

.text-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
}

.login{
  border: 2px solid #42078E;
  width: 100%;
  color: #42078E;

  transition: background-color 0.2s;
}

.login:hover{
  background: #d9c8e9;
}