.ballon-error{
  position: absolute;
  background-color: #ecbbc1;
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
  z-index: 10;
}

.ballon-error:before {
  content: '';

  width: 0;
  height: 0;

  position: absolute;
  left: 10px;
  top: -10px;

  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ecbbc1;

  border-radius: 50%;
}

.ballon-error span {
  font-size: 12px;
  color: #e82042;
}

.footer-form .footer-block .footer-link {
  margin-left: 5px;
  text-decoration: none;  
  color: #42078E;

  transition: color 0.2s;
}

.footer-form .footer-block .footer-link:hover {
  color: #8338e6;
}