button.confirm-button[disabled], button.confirm-button[disabled]:hover{
  background-color: #a586ce;
  cursor: initial;
}

.footer-form .footer-block .sign-in-link {
  margin-left: 5px;
  text-decoration: none;
  color: #42078E;

  transition: color 0.2s;
}

.footer-form .footer-block .sign-in-link:hover {
  color: #8338e6;
}