* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #FBF6F6;
}

body, input, button, textarea {
    font: 600 18px Montserrat, sans-serif;
}
/* weight, size, font */
.error-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
} 

.footer-form{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 16px;
}

.footer-form .footer-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #000000;
}
